.events-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 1rem;
  }
  
  @media (max-width: 768px) {
    .events-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 576px) {
    .events-container {
      grid-template-columns: 1fr;
    }
  }